# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraformrc

# Java
target/

# Docker
*.tar

# IDE
.idea/
*.iml
.vscode/